package ${name};
public enum Token {
    <% tokens.each { t -> %>
    $t.name {
            @Override
            public String toString() {
                return s;
            }
        },
    <% }%>
    END;

    String s = "";

}
